.nt-navbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nt-navbar * {
  margin: 0px;
}

.nt-navbar .left,
.nt-navbar .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
