body {
  margin: 0;
  background: black;
}

.documentation-wrapper {
  height: 100vh;
  width: calc(100vw - 300px);
  box-sizing: border-box;
  position: absolute;
  left: 300px;
}

.documentation {
  padding: 64px;
}

.sidebar {
  width: 300px;
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  position: fixed;
}

.page-container {
  display: flex;
  flex-direction: row;
}

.section{
  padding-block: 32px;
}
