table {
  font-family: IBM Plex Sans;
  font-size: 18px;
  width: 100%;
  border: 1px solid white;
  border-collapse: collapse;

}

td {
  border: 1px solid white;
  
}

th {
  font-family: Public Sans;
  font-weight: 600;
  color: white;
  text-align: left;
  padding: 16px;
}

td {
  font-family: IBM Plex Sans;
  font-size: 18px;
  color: white;
  padding: 16px;
}
